@import '../../../styles/variables';

.detail {
  margin-top: -28px;

  .dataMobile {
    margin-bottom: 30px;
    padding: 0 10px;

    .excerpt {
      align-items: flex-start;
      display: flex;
      gap: 10px;
      justify-content: space-between;

      .text:after {
        content: '..'
      }
    }
    .DummyText {
      display: none;
    }
    &.open {
      .DummyText {
        display: block;
      }
      .excerpt .text:after {
        display: none;
      }
    }
  }
  .dataDesk {
    display: none;
  }
  .deskLeft {
    max-width: 500px;
    margin: 0 auto;
  }
  .image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -65px;
    margin-bottom: 50px;
  }
  .title {
    color: #000;
    font-weight: bold;
    font-size: 2rem;
  }
  .emv {
    align-items: center;
    background-color: $color-light-gray;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;

    .emv_title {
      color: #000;
    }
    .emv_tooltip {
      font-size: 1.2rem;
    }
  }
  .actions {
    display: flex;
    gap: 10px;

    :global .button {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-top: -31px;

    .dataMobile {
      display: none;
    }
    .dataDesk {
      display: block;
    }
    .deskLeft {
      margin: 0;
      max-width: none;
      width: 346px;
    }
    .deskRight {
      flex-grow: 1;
    }
    .image {
      margin-top: -45px;
    }
  }
}
