@import '../../styles/variables';

.header {
  background-color: $color-site;
  color: #fff;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 75px;
    padding: 0;
    margin-bottom: -30px;
  }
  > a {
    display: inline-block;
    padding: 12px;
  }
  .icon {
    font-size: 2.6rem;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 15px 0;
    position: fixed;
    width: 70px;

    .logo {
      margin: -7px -70px 0 0;
      width: 85px;
    }
    .hamburger {
      display: none;
    }
    > a {
      padding: 0;
    }
    .myaccount {
      opacity: .5;
      transition-duration: .3s;

      &:hover {
        opacity: 1;
      }
      .icon {
        font-size: 4.2rem;
      }
    }
  }
}
