@import '../../styles/variables';

.navigation {
  background-color: $color-site;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3;

  > a {
    display: block;
    padding: 10px 20px;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    height: auto;
    margin-top: 25px;
    position: static;

    > a {
      display: block;
      opacity: .5;
      padding: 10px;
      transition-duration: .3s;

      &:hover, &.active {
        color: #fff;
        opacity: 1;
      }
      .icon {
        font-size: 3rem;
      }
      .legend {
        display: none;
      }
    }
  }
}

