@import '../../styles/variables';

.header {
  background-color: #CECECE;
  padding: 35px 0 15px;
  text-align: center;

  h1 {
    font-size: 2rem;
  }

  @media screen and (min-width: $tablet) {
    h1 {
      font-size: 2.5rem;
    }
  }
}
