.image {
  position: relative;
  display: block;
  line-height: 0;

  a {
    display: block;

    img {
      display: block;
      transition-duration: 4s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .colorsec {
    height: 4px;
  }
  .colorpri {
    height: 10px;
  }
  .logo {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -30px;
  }
  .deliver {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    .question {
      background-color: #eee;
      border-radius: 100%;
      font-size: 65px;
      margin-bottom: 20px;
      padding: 8px;
    }
    .date{
      color: #000;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}
