@import '../../styles/variables';

.emv {
  background-color: #fff;
  border: 1px solid #eee;
  font-size: 1.4rem;
  margin-bottom: -8px;
  margin-right: -9px;
  padding: 9px;

  .legend {
    font-size: 1.2rem;
  }
  .ethsym {
    padding: 0 3px;
  }
  .value {
    color: #000;

    &.up {
      color: $color-green;
    }
    &.down {
      color: $color-red;
    }
  }
  .price {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 4ch;
  }
  .evolution {
    display: inline-block;
    text-align: right;
    width: 1ch;

    &.delete {
      background: red;
    }
  }
}
