.delivery {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .question {
    background-color: #eee;
    border-radius: 100%;
    font-size: 65px;
    margin-bottom: 20px;
    padding: 8px;
  }
  .date{
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
