@import 'variables';

html {
  font-size: 10px;
}

body {
  background-color: $color-body-background;
  color: $color-normal-text;
  font-family: $text-font;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $color-site;
  }
}

* {
  box-sizing: border-box;
}

.button {
  background-color: $color-site;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  transition-duration: .4s;

  &:hover {
    background-color: $color-site-dark;
    color: #fff;
  }
}

.buttonExpand {
  background: transparent;
  border: none;
  color: $color-normal-text;
  cursor: pointer;
  font-size: 2rem;

  &.expanded {
    transform: rotate( 180deg );
  }
}
