// Fonts
$text-font: 'Open Sans', sans-serif;
$title-font:  'Open Sans', sans-serif;

// Colors
$color-site: #39758E;
$color-site-dark: #143847;
$color-body-background: #EEEEEE;
$color-light-gray: #F9F9F9;
$color-normal-text: #7A7A7A;
$color-red: #CF0606;
$color-green: #0DB65B;

// Breakpoints
$mobile-large: 440px;
$tablet: 620px;
$desktop: 768px;
$desktop-l: 920px;
